<module>
	<rawname>dahdiconfig</rawname>
	<repo>extended</repo>
	<category>Connectivity</category>
	<name>DAHDi Config</name>
	<version>2.11.7</version>
	<publisher>Schmoozecom</publisher>
	<license>GPLv2</license>
	<candisable>yes</candisable>
	<canuninstall>yes</canuninstall>
	<changelog>
        *2.11.7* Fixed modprobe overwrite issue and space after equals
        *2.11.6* Moshe skinin'
	    *2.11.5* Remove mac extra atts...again
	    *2.11.4* Finished modprobe additional custom entries and cleanup
	    *2.11.3* Fix up restarting issues and General Settings additional Settings
	    *2.11.2* Add to extended repo
	    *2.11.1.8* Fixes #4409
	    *2.11.1.5* Fixes #4558, #4837, #5005, #5256
		*2.10.0.0* new version changes
		*2.9.0.1* #4921
		*2.9.0.0* #4914, #4915 
		*2.8.0.1* dependency set to 2.8 because of dahdi tables
		*2.8.0.0* adds hooks into extensions and trunks pages and other fixes and tweaks
		*0.1* initial commit
	</changelog>
	<depends>
		<phpversion>5.3.0</phpversion>
		<version>2.10</version>
	</depends>
	<requirements>
		<file>/usr/sbin/asterisk</file>
		<file>/usr/sbin/dahdi_scan</file>
		<file>/usr/sbin/dahdi_genconf</file>
		<file>/usr/sbin/dahdi_cfg</file>
	</requirements>
	<menuitems>
		<dahdi needsenginedb="yes">DAHDi</dahdi>
	</menuitems>
	<location>release/2.11/dahdiconfig-2.11.7.tgz</location>
	<md5sum>7c7dcbbfa4921cd15882d5179509cf74</md5sum>
</module>