label {
    width:160px;    /*Or however much space you need for the form’s labels*/
    float:left;
}
th { background: #7aa8f9; } 
tr.odd td { background: #fde9d1; } 
.alert { background: #fde9d1; border: 2px dashed red; margin: 5px; padding: 5px; }